p{
    position:static;
}
div{
        width: 200px;
        height: 100px;
        background-color: lightblue;
        border: 2px solid black;
        /* transform: rotate(20deg); */
    }

    .box{
        position:relative;
        left: 20px;
        top: 40px;
        transform: perspective(20px) translateZ(-10px);
    }